{{- if .Values.secrets.authSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "agentbox.fullname" . }}-secrets
  labels:
    {{- include "agentbox.labels" . | nindent 4 }}
type: Opaque
data:
  auth-secret: {{ .Values.secrets.authSecret | b64enc }}
{{- end }}
