{{- if .Values.secrets.createSecrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "agentbox.fullname" . }}-secrets
  labels:
    {{- include "agentbox.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if not .Values.secrets.jwtSecretName }}
  jwt-secret: {{ .Values.secrets.jwtSecret | default (randAlphaNum 32) | b64enc | quote }}
  {{- end }}
  {{- if not .Values.secrets.dbSecretName }}
  {{- if .Values.secrets.dbDSN }}
  db-dsn: {{ .Values.secrets.dbDSN | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if not .Values.secrets.adminSecretName }}
  admin-username: {{ (.Values.secrets.adminUsername | default "admin") | b64enc | quote }}
  admin-password: {{ (.Values.secrets.adminPassword | default (randAlphaNum 16)) | b64enc | quote }}
  {{- if .Values.secrets.adminEmail }}
  admin-email: {{ .Values.secrets.adminEmail | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if and (not .Values.secrets.googleOAuthSecretName) .Values.secrets.googleClientID }}
  google-client-id: {{ .Values.secrets.googleClientID | b64enc | quote }}
  {{- end }}
  {{- if and (not .Values.secrets.googleOAuthSecretName) .Values.secrets.googleClientSecret }}
  google-client-secret: {{ .Values.secrets.googleClientSecret | b64enc | quote }}
  {{- end }}
{{- end }}
